<div class="share">
    <p>
        Contact
    </p>
    <ul>
      <li class="ml-1 mr-1">
      <a href="mailto:david.witkowski@posteo.net">
      <i class="fas fa-envelope" ></i>
      </a>
      </li>

      <li class="nav-item active">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/david-witkowski-2bb3a4157/">
      <i class="fab fa-linkedin"></i>
      </a>
      </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://github.com/chodera">
        <i class="fab fa-github"></i>
        </a>
        </li>

    </ul>

</div>
